include pyformex/doc/COPYING
include pyformex/doc/README
include pyformex/doc/ReleaseNotes
include post-install
include pyformex-pyformex.desktop
include pyformex/pyformex
include pyformex/pyformexrc
include pyformex/lib/Makefile.in
include pyformex/lib/configure
include pyformex/lib/configure_py
include pyformex/lib/postabq.c
include pyformex/examples/scripts.cat
include pyformex/examples/*.db
include pyformex/examples/*.formex
include pyformex/examples/hesperia-nieve.prop
include pyformex/examples/FeAbq.post
include pyformex/examples/Demos/[A-Z]*.py
include pyformex/examples/Demos/README
include pyformex/icons/*.xpm
include pyformex/icons/pyformex*.png
include pyformex/manual/html/*
include pyformex/manual/images/*.png
include pyformex/external/*/*
prune *.py~
prune *.pyc
