prune *
include BUGS
include COPYING
include README
include INSTALL
include FAQ
include ReleaseNotes-0.6
include pyformex.desktop
include pyformex.png
include pyformex/*.py
include pyformex/pyformex
include pyformex/pyformexrc
include pyformex/gui/*.py
include pyformex/lib/Makefile
include pyformex/lib/*.c
include pyformex/plugins/*.py
include pyformex/examples/*
include pyformex/examples/*/*
include pyformex/icons/*.xpm
include pyformex/doc/*
include pyformex/manual/html/*.html
include pyformex/manual/html/*.css
include pyformex/manual/html/*.png
prune  pyformex/manual/html/img*.png
include pyformex/manual/images/*.png
include pyformex/manual/pyformex.pdf
