[Desktop Entry]
Type=Application
Exec=pyformex --gui --redirect
Icon=pyformex.png
Name=pyFormex
GenericName=pyFormex Space Frame Designer
Comment=pyFormex is a Python implementation of Framex algebra.
