#!/usr/bin/make -f       
# -*- makefile -*-
# debian/rules  for pyFormex, using debhelper.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk


%:
	dh $@ --with python2

build:
	@echo "=== Building ==="
	dh_auto_build
	@echo "=== Building extra ==="
	make -C $(CURDIR)/pyformex/extra

binary:
	@echo "=== Installing ==="
	dh binary --with=python2
	@echo "=== Installing extra ==="
	DESTDIR=$(CURDIR)/debian/tmp make -C $(CURDIR)/pyformex/extra prefix=/usr install


binary-arch:
	dh_numpy
	dh binary-arch -a --with=python2


override_dh_auto_install:
	dh_auto_install
	DESTDIR=$(CURDIR)/debian/tmp make -C $(CURDIR)/pyformex/extra install prefix=/usr


override_dh_install:
	dh_install -i --exclude=".so"
	dh_install -a


override_dh_python2:
	dh_numpy
	dh_python2
	# Remove some extraneous files
	set -e; if [ -d "debian/pyformex" ]; then \
		for FILENAME in arraytools.html.gz draw2d.html formian.html imagecolor.html track.html wrl.html; do \
		find $(CURDIR)/debian/pyformex -name $$FILENAME -exec rm -f {} \; \
		done; fi
	# Replace embedded Javascript libraries with symlinks
	set -e; if [ -d "debian/pyformex" ]; then \
		for FILENAME in jquery underscore; do \
		find $(CURDIR)/debian/pyformex -name $$FILENAME.js -print \
                -exec ln -sf /usr/share/javascript/$$FILENAME/$$FILENAME.js {} \; \
		done; fi
	# Link documentation 
	set -e; if [ -d "debian/pyformex" ]; then \
		mkdir $(CURDIR)/debian/pyformex/usr/share/pyshared/pyformex/doc; \
		ln -sf /usr/share/doc/pyformex/html $(CURDIR)/debian/pyformex/usr/share/pyshared/pyformex/doc/html; \
		for py in $(shell pyversions -s); do \
		mkdir $(CURDIR)/debian/pyformex/usr/lib/$$py/dist-packages/pyformex/doc; \
		ln -sf /usr/share/doc/pyformex/html $(CURDIR)/debian/pyformex/usr/lib/$$py/dist-packages/pyformex/doc/html; \
		done; fi
