#!/usr/bin/make -f       
# -*- makefile -*-
# debian/rules  for pyFormex, using debhelper.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export DH_OPTIONS

%:
	@echo "BV: USING DEFAULT RULE $@"
	dh $@ --with python2



build:
	@echo "BV: BUILD" 
	dh_auto_build
	@echo "Building extras"
	make -C $(CURDIR)/pyformex/extra

binary:
	dh binary --with=python2
	@echo "Installing extras"
	DESTDIR=$(CURDIR)/debian/tmp make -C $(CURDIR)/pyformex/extra prefix=/usr install

override_dh_auto_install:
	dh_auto_install
	DESTDIR=$(CURDIR)/debian/tmp make -C $(CURDIR)/pyformex/extra install prefix=/usr


override_dh_install:
	dh_install -i --exclude=".so"
	dh_install -a


#binary:
#	@echo "BV: BINARY" 
#	dh_auto_test
#	dh_testroot
#	dh_prep
#	dh_installdirs
#	@echo "BV: INSTALL" 
#	dh_auto_install
#	DESTDIR=$(CURDIR)/debian/tmp make -C $(CURDIR)/pyformex/extra install prefix=/usr
#	@echo "BV: PACKAGE PYFORMEX" 
#	dh_install -i --exclude=".so"
#	dh_installdocs
#	@echo "BV: INSTALL PYFORMEX-lib and PYFORMEX-extra" 
#	dh_install -a


override_dh_python2:
	dh_python2
	# Replace embedded Javascript libraries with symlinks
	set -e; if [ -d "debian/pyformex" ]; then \
		for FILENAME in jquery underscore; do \
		find $(CURDIR)/debian/pyformex -name $$FILENAME.js -print \
                -exec ln -sf /usr/share/javascript/$$FILENAME/$$FILENAME.js {} \; \
		; done; fi
	# Link documentation 
	set -e; if [ -d "debian/pyformex" ]; then \
		mkdir $(CURDIR)/debian/pyformex/usr/share/pyshared/pyformex/doc; \
		ln -sf /usr/share/doc/pyformex/html $(CURDIR)/debian/pyformex/usr/share/pyshared/pyformex/doc/html; \
		for py in $(shell pyversions -s); do \
		mkdir $(CURDIR)/debian/pyformex/usr/lib/$$py/dist-packages/pyformex/doc; \
		ln -sf /usr/share/doc/pyformex/html $(CURDIR)/debian/pyformex/usr/lib/$$py/dist-packages/pyformex/doc/html; \
		done; fi
